@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Estilos globais e variáveis*/
:root{
    --text-color: #667085;
    --main-text-color: #8E2424;
    --dark-text-color: #101828;
}
*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos da navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.main{
    display: flex;
    align-items: center;
}
.logo{
    padding: 10px;
}
.links{
    display: flex;
    margin-left: 50px;
}
.links a {
    color: var(--text-color);
    padding: 10px;

}
.login-cadastrar a{
    text-decoration: none;
    padding: 10px;
}
.cadastrar{
    background-color: var(--main-text-color);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
}
.entrar{
    color: var(--text-color);
}
/*Estilos do cabeçalho*/
.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0px 96px 0px;
}
.cabecalho div{
    margin: 10px;
}
.cabecalho h6{
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
}
.texto-cabecalho{
    width: 60%;
}
.texto-principal{
    color: var(--dark-text-color);
    font-size: 22px;

}
.cabecalho p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
/*Estilos da seção de métricas*/
.container-metricas{
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
}
.metrica{
    width: 250px;
}
.titulo-metrica{
    color: var(--main-text-color);
    font-size: 50px;
    font-weight: 600;
}
.subtitulo-metrica{
    color: var(--dark-text-color);
    font-weight: 500 ;
}
.texto-metrica{
    color: var(--text-color);
}
/*Estilos da seção de talentos*/
.container-talentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.destaque-talentos{
    padding: 5px;
    font-size: 14px;
    font-weight:500;
    width: 125px;
    color: var(--main-text-color);
    background-color: rgb(142, 36, 36, 0.05);
    text-align: center;
    border-radius: 16px;
}
.titulo-talentos{
    margin: 20px;
    color: var(--dark-text-color);
    font-size: 36px;
}
.texto-talentos{
    margin: 20px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
}
.img-talentos{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}